{% extends 'calc/base.html' %}
{% block content %}


<div class="addconcrete_form_div">
    <form method="post" class="addconcrete_form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Dodaj beton" class="form_btn">
    </form>
</div>

---------------------------------- <br><br>
{{ perms }} <br><br>
{{ perms.calc }} <br><br>
{% if perms.calc.add_concrete %}
    MASZ UPRAWNIENIA
{% else %}
    NIE MASZ UPRAWNIEŃ~!
{% endif %} <br><br>


---------------------------------- <br><br>

<br>
{% if messages %}
    {% for message in messages %}
        <div class="text-center alert alert-{{ message.tags }}">
            {{ message|safe }}
        </div>
    {% endfor %}
{% endif %}


{% endblock %}
