{% extends 'calc/base.html' %}
{% block content %}


<div class="calculatororder_container">

    <h1>Wypełnij formularz</h1>
    <br>

    <p class="p_description">W komentarzu koniecznie umieść <u>adres dostawy</u>, a także dodatkowe uwagi do zamówienia.
        Zapamiętaj swój numer zamówienia i skontaktuj się z naszą infolinią (tel: 600-700-800) w celu ustalenia terminu
        dostawy oraz oszacowania kosztów dostawy.</p>
    <br><br><br>

    <div class="concrete_form_div">
        <div class="form_div">
            <form method="post" class="concrete_form">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Wyślij >>" class="form_btn">
            </form>
        </div>

        <div class="table_div">
            <table>
                <thead>
                    <tr><strong>Twoje zamówienie:</strong></tr>
                    <th>Nr zamówienia</th>
                    <th>Objętość [m<sup>3</sup>]</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ get_id.id }}</td>
                        <td>{{ get_id.volume }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br><br>



    <p class="p_description"><strong>Zastosowanie</strong><br>
        Wybierz gdzie masz zamiar zastosować beton.</p>
    <br>

    <p class="p_description"><strong>Beton</strong><br>
        Wybierz rodzaj betonu zgodnie ze specyfikacją techniczną swojego projektu.
        Jeżeli takiej nie posiadasz, wybierz rodzaj betonu z przykładowej tabelki.
        Skontaktuj się z nami, gdy nie wiesz jaki rodzaj betonu wybrać - na pewno doradzimy!</p>
    <br>

    <p class="p_description"><strong>Imię i nazwisko</strong><br>
        Zostaw swoje dane, abyśmy mogli się z Tobą skontaktować.</p>
    <br>

    <p class="p_description"><strong>Telefon</strong><br>
        Podaj swój telefon kontaktowy.</p>
    <br>

    <p class="p_description"><strong>Komentarz do zamówienia</strong><br>
        Koniecznie wpisz adres dostawy! Jeżeli masz jeszcze jakieś uwagi, możesz je tutaj wpisać.</p>
    <br>


    <br><br>






<h3> {{ result }} </h3>




---------------------------------
---------------------------------
<br><br>


<br><br>
Jeżeli nie wiesz jaki beton wybrać, poniżej przedstawiamy przykładową tabelkę, w której możesz sprawdzić gdzie stosuje się zazwyczaj dany rodzaj betonu.
<br><br>

<table>
    <thead>
        <tr>Przykładowa tabelka
            <th>Beton</th>
            <th>Zastosowanie</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Beton 1</td>
            <td>Zastosowanie 1</td>
        </tr>
        <tr>
            <td>Beton 2</td>
            <td>Zastosowanie 2</td>
        </tr>
        <tr>
            <td>Beton 3</td>
            <td>Zastosowanie 3</td>
        </tr>
    </tbody>


</table>
{{ form_concrete }}

</div>


{% endblock %}
