<title>Kontakt</title>

{% extends 'calc/base.html' %}
{% block content %}



<div class="contact_container">
    <h1>Skontaktuj się z nami!</h1>
    <br>

    <div class="contact_location">
        <h3>Gdzie jesteśmy:</h3>
        <h4>Marta Beton Sp. z o.o.<br>
            ul. Cukrowa 37<br>
            12-345 Warszawa</h4>
    </div>

    <br><br><br>
    <h3>Pracujemy dla was od poniedziałku do soboty.</h3>
    <h3>W sprawie zamówień prosimy o kontakt z naszymi wykwalifikowanymi pracownikami. Chętnie odpowiedzą na <u>wszystkie</u> pytania!</h3>
    <h3>Prosimy o kontakt pod numerem telefonu: 600-700-800</h3><br>

    <div class="contact">
        <ul>
        {% for person in persons_in_work %}
            <li><b>{{ person.first_name}} {{ person.last_name }}</b> - {{ person.description }}<br><br>
                {% for i in person.days.all %}
                    Dyżur: {{i.get_day_display}}, godziny: {{i.get_hour_display}}<br>
                {% endfor %}</li>
            <br><br>
        {% endfor %}
        </ul>
    </div>


    <br><br>
    <h3>Dyżury pracowników, w zależności od dnia i godziny</h3>

    <ul>
    {% for day in days_of_work %}
        <li><b>{{ day.get_day_display}}, godzina: {{ day.get_hour_display }}</b></li>
            {{day.persons}}<br><br>
    {% endfor %}
    </ul>


</div>



{% endblock %}
