<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wybór kształtu</title>
    <link rel="stylesheet" href="static/css/shape.css">
</head>
<body>

<div class="concrete_calculator">
    <div class="calc_description">
        <h3>Witamy w prostym kalkulatorze do obliczania objętości</h3>
        <p>Wybierz interesujący Cię kształt, wypełnij dane, a następnie kliknij OBLICZ.</p>
        <p>Należy pamiętać, że obliczenia mają charakter poglądowy. Do dokładnej ilości zamówienia konieczne jest
        sprawdzenie ilości zbrojenia oraz uwzględnienie odpowiedniego zapasu betonu.</p>
        <br>
    </div>
</div>

<!--    <div class="calc_shape">-->
<!--        <h4>Wybierz kształt</h4>-->

<!--        <div id="calc_figures">-->
<!--            <form>-->
<!--            <div class="" data-figure="rectangle">-->
<!--                <img src="/static/images/rectangular.png" alt="Płyta fundamentowa" height="100">-->
<!--                <br>-->
<!--                <input type="checkbox"> Płyta fundamentowa-->
<!--            </div>-->

<!--            <div class="" data-figure="footing">-->
<!--                <img src="/static/images/footing.png" alt="Ława fundamentowa" height="100">-->
<!--                <br>-->
<!--                <input type="checkbox"> Ława fundamentowa-->
<!--            </div>-->

<!--            <div class="" data-figure="cylinder">-->
<!--                <img src="/static/images/cylinder.png" alt="Walec" height="100">-->
<!--                <br>-->
<!--                <input type="checkbox">Walec-->
<!--            </div>-->

<!--            <div class="" data-figure="triangle">-->
<!--                <img src="/static/images/triangle.png" alt="Trójkąt" height="100">-->
<!--                <br>-->
<!--                <input type="radio">Trójkąt-->
<!--            </div>-->

<!--            <div class="" data-figure="slab">-->
<!--                <img src="/static/images/slab.png" alt="Płyta z wgłębieniem" height="100">-->
<!--                <br>-->
<!--                <input type="radio" value="Płyta z wgłębieniem">Płyta z wgłębieniem-->
<!--            </div>-->

<!--            <div class="" data-figure="stairs">-->
<!--                <img src="/static/images/stairs.png" alt="Schody" height="100">-->
<!--                <br>-->
<!--                <input type="radio" value="Schody">Schody-->
<!--            </div></form>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="calc_dimensions">-->
<!--        <h4>Podaj wymiary</h4>-->

<!--        <div id="calc_form">-->
<!--            <form action="" method="post">-->
<!--                {% csrf_token %}-->
<!--                <div class="rectangular footing triangle slab stairs" style="display: block">-->
<!--                    <label> X <input type="number" min="0.00" step="any" placeholder="Szerokość [m]" name="X"></label>-->
<!--                </div>-->
<!--                <div class="rectangular footing cylinder triangle slab stairs">-->
<!--                    <label> Y <input type="number" min="0.00" step="any" placeholder="Długość [m]" name="Y"></label>-->
<!--                </div>-->
<!--                <div class="rectangular triangle slab stairs">-->
<!--                    <label> Z <input type="number" min="0.00" step="any" placeholder="Wysokość [m]" name="Z"></label>-->
<!--                </div>-->
<!--                <div class="cylinder">-->
<!--                    <label> R <input type="number" min="0.00" step="any" placeholder="Promień [m]" name="R"></label>-->
<!--                </div>-->
<!--                <div class="slab stairs">-->
<!--                    <label> W <input type="number" min="0.00" step="any" placeholder="Szerokość [m]" name="W"></label>-->
<!--                </div>-->
<!--                <div class="slab">-->
<!--                    <label> H <input type="number" min="0.00" step="any" placeholder="Wysokość [m]" name="H"></label>-->
<!--                </div>-->
<!--                <div class="stairs">-->
<!--                    <label> V <input type="number" min="0.00" step="any" placeholder="Liczna stopnii [m]" name="V"></label>-->
<!--                </div>-->
<!--                <div class="slab">-->
<!--                    <label> T <input type="number" min="0.00" step="any" placeholder="Długść płyty [m]" name="T"></label>-->
<!--                </div>-->

<!--                <input type="submit" value="Oblicz">-->

<!--            </form>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<h3>Wybierz kształt:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <img src="/static/rectangular.png" height="100">Płyta
        <img src="/static/footing.png" height="100">Ława
        <input type="submit" value="Oblicz">
    </form>

<script src="static/js/shape.js"></script>
</body>
</html>