<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kontakt</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

{% extends 'calc/base.html' %}
{% block content %}

<!--<div class="bar">-->
<!--    <a href="/"> <button class="btn">Strona główna</button> </a>-->
<!--    <a href="/concrete/"> <button class="btn">Wybierz rodzaj betonu i zastosowanie</button> </a>-->
<!--    <a href="/contact/"> <button class="btn">Kontakt</button> </a>-->
<!--</div>-->

<h1>Podusmowanie twojego zamówienia nr: {{ summary.pk }}</h1>

<div class="summary">
    <ul class="summary_ul">
        <div class="summary_concrete">
        Beton:
            <li>Beton: {{ summary.concrete }}</li>
            <li>Objętość: {{ summary.volume }} m<sup>3</sup></li>
            <li>Kształt: {{ summary.shape }}</li>
            <li>Zastosowanie: {{ summary.use_of_concrete }}</li>
        </div>
        <br>
        <div class="summary_contact">
        Dane kontaktowe:
            <li>Imię i nazwisko: {{ summary.legal_name }}</li>
            <li>Komentarz do zamówienia: {{ summary.comment }}</li>
            <li>Utworzono: {{ summary.created_date|date:'Y-m-d, l, H:i:s' }}</li>
        </div>
    </ul>
</div>





{% endblock %}

</body>
</html>