{% extends 'calc/base.html' %}
{% block content %}


<div class="calculatororder_container">

    <h1>Wypełnij formularz</h1>
    <br>

    <p class="p_description">Podaj wszystkie niezbędne cechy figury do obliczenia objętości betonu.
        Należy pamiętać, że dane mają charakter jedynie poglądowy.</p>
    <br><br><br>


    <div class="volume_form_div">
        <form method="post" class="volume_form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Oblicz >>" class="form_btn">
        </form>
    </div>
    <br>

    <div class="result">
    <!--<h3>Objętość betonu: {{ result }} m<sup>3</sup>.</h3>-->
    <h3>{{ output }} </h3>
    </div>

    <br>
    {{ get_id }}
    {{ result }}

</div>


{% endblock %}
