body {
    /*background-color: wheat;*/
    background: #3f1d2b url("../images/Beton1.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


header {
    /*border: 2px blue solid;*/
    background: linear-gradient(90deg, rgba(255, 0, 0, 1), rgba(255, 165, 0, 1));
    /*background-color: coral;*/
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 5px;
    align-items: center;
    border-radius: 70px;
}

.base_bar, .base_login{
    /*border: 1px solid black;*/
    margin: 0;
}

.base_logo img {
    border: 1px solid black;
    height: 4em;
    width: auto;
}

.base_login a {
    text-decoration: none;
    color: white;
    background: linear-gradient(120deg, rgba(128, 0, 128, 0.3) 0%, rgba(128, 0, 128, 1) 50%);
    border-radius: 5px;
    padding: 3px;
    box-shadow: black -1px 1px 1px;
    border: black solid 1px;
    font-size: 15px;
}

.btn {
    background-color: yellow;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover {
    color: yellow;
    background-color: black;
    cursor: pointer;
}

/* ################################################################################################################## */

.index_container {
    box-sizing: border-box;
    background-color: rgba(200, 200, 0, 0.9);
    box-shadow: 0px 0px 30px;
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery a {
    box-sizing: border-box;
    max-width: 50%;
    padding: 5px;
}

.gallery img{
    display: block;
    filter: grayscale(0);
    filter: ;
    transition: 0.5s;
    max-width: 100%;
}

.gallery img:hover {
    filter: grayscale(1);
}

/* ################################################################################################################## */

.p_description {
    line-height: 25pt;
    font-size: 20px;
    /*color: blueviolet;*/
}

.shape_container {
    box-sizing: border-box;
    background-color: rgba(128, 0, 128, 0.9);
    box-shadow: 0px 0px 30px;
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.shape_figure {
    border: 3px dotted blueviolet;
    background-color: rgba(128, 128, 128, 0.9);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*flex-direction: row;*/
    /*overflow-x: auto;*/
}

.shape_figure img {
    height: 350px;
}

.shape_figure div {
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.shape_figure div:hover {
    color: deeppink;
    background-color: white;
    /*border-radius: 15px;*/
    /*box-shadow: 0px 0px 20px yellow;*/
    box-shadow: 0px 0px 40px rgba(128, 0, 128, 0.9);
    cursor: pointer;
    transition: 0.5s;
}


.shape_figure a {
    text-decoration: none;
    color: rgba(0, 255, 200);
}

.shape_figure a:hover {
    text-decoration: none;
    color: crimson;
}

/* ################################################################################################################## */

.error {
    color:red;
    background-color: white;
    text-align: center;
    /*padding: 50px;*/
    margin: 50px;
    box-shadow: 0px 0px 50px red;
}

/* ################################################################################################################## */

.contact_container {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 30px;
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.contact_location {
    background-color: rgba(255, 0, 0, 0.9);
    width: 200px;
    height: 200px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.contact {
    background-color: rgba(255, 0, 0, 0.9);
    padding: 20px;
    display: flex;
    border-radius: 5px;
    box-shadow: black 2px 2px 20px;
    width: 40%;
    margin: 0 auto;
    justify-content: center;
}

/* ################################################################################################################## */

.calculatororder_container {
    box-sizing: border-box;
    background-color: rgba(0, 200, 200, 0.9);
    box-shadow: 0px 0px 30px;
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.volume_form_div, .login_form_div, .concrete_form_div, .addconcrete_form_div, .register_form_div {
    display: flex;
    justify-content: center;
}

.volume_form, .concrete_form, .login_form, .addconcrete_form, .register_form {
    background: rgba(255, 255, 255, 0.95);
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    box-shadow: 1px 2px 3px;
    text-align: left;
    /*width: 30%;*/
    margin-right: 50px;
}

.form_btn {
    background: orangered;
    color: #fff;
    border-radius: 5px;
    padding: 10px 30px;
    transition: 0.5s;
    font-weight: bold;
    font-size: 15px;
    cursor: crosshair;
}

/* ################################################################################################################## */

.summary_container {
    box-sizing: border-box;
    background-color: rgba(0, 200, 200, 0.9);
    box-shadow: 0px 0px 30px;
    margin: 0 auto;
    padding: 50px;
    width: 80%;
}

.summary {
    background: white;
    display: inline-block;
    /*justify-content: center;*/
    /*width: 60%;*/
    /*margin: 0 auto;*/
    /*display: flex;*/
    justify-content: space-around;
    padding: 50px;
}

.summary_concrete {
    background: green;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px;

}

.summary_contact {
    background: cornflowerblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px;
}

.summary_ul {
    list-style: none;
    line-height: 40px;
    margin: auto;
    padding: 0px;
}


.summary_ul li:before {
    content: '✅';
    /*content: '📌';*/
    display: inline-block;
    margin-right: 10px;
}


/* ################################################################################################################## */

th {
    border: 1px solid black;
    padding: 10px;
    background-color: gold;
}

td {
    border: 1px solid black;
    padding: 10px;
}

table {
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    /*position: ;*/
}

/* ################################################################################################################## */

.concrete_form_table {
    display: flex;
    justify-content: center;
    padding-right: 50px;
}


